


# Getting Started

In [ ]:
# mounting files
from google.colab import drive
drive.mount("/content/drive",force_remount = True)

import os
# os.chdir('/content/drive/Shared drives/DMUM Operations/Ops_Mega_Project')

# my_path = "/folders/my_folder_name" # THIS is your GDrive path
gdrive_path = "/content/drive" + "/My Drive" + "/OMP_24-25"
os.chdir(gdrive_path)

In [ ]:
import plotly.express as px

import pandas as pd
import numpy as np

In [ ]:
# https://colab.research.google.com/notebooks/io.ipynb#scrollTo=sOm9PFrT8mGG
# worksheet = gc.open("../GT 23-24 Cleaned Data").sheet1

from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [ ]:
!ls
!pwd
ss = gc.open("Practice GT 23-24 Cleaned Data").sheet1
rows = ss.get_all_values() # saves every row into a list container
print(rows)

df = pd.DataFrame.from_records(rows) # df is created from row data with headers...

# Load Data & Gain Understanding

In [ ]:
# how many rows and columns are there?
df.shape

In [ ]:
# first 10 rows of the df, default is 5
df.head(10)

In [ ]:
df.columns = df.iloc[0]
df = df[1:].reset_index(drop=True)

In [ ]:
df.drop(columns=['Prefix'], inplace=False)

In [ ]:
# what data types are the columns?
# are they really all objects (refer to slides for meaning of object datatype)
df.dtypes

In [ ]:
# take a closer look at "Base Price"
# notice that this column is all numbers, but it is not considered a float, it is an object
df['Base Price']

In [ ]:
# making the type a float (decimal) in order to use functions on the donation amount
df['Base Price'] = df['Base Price'].astype(float)
df['Base Price'].dtype

In [ ]:
df.dtypes

In [ ]:
# use the .str.split() to create a list in a column, now we can separate on the types of donors
df['Donor Segments'] = df['Donor Segments'].str.split(',')
# creating a new df in order to separate the list into string
df[['All Donors', 'Donor Segments 2', 'Donor Segments 3']] = pd.DataFrame(df['Donor Segments'].to_list(), index=df.index)
# droping the original column
df = df.drop(columns=['Donor Segments'], inplace=False)

In [ ]:
# Replacing the None values to NaN values
df[['Donor Segments 2', 'Donor Segments 3']] = df[['Donor Segments 2', 'Donor Segments 3']].replace({None: np.nan})

In [ ]:
# Resulting DF
df